@model RPDSS.DataLayer.Models.RiceModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgYield)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvgYield)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxYield)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxYield)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maturity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Maturity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrainSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrainSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MillingRecovery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MillingRecovery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EatingQuality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatingQuality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.ActionLink("Delete", "Delete", new { Model.Id }) |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
