@model RPDSS.DataLayer.Models.RiceModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

<h2>Rice Profile</h2>
<hr />
<br />

<div>    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgYield)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvgYield)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxYield)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxYield)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maturity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Maturity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrainSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrainSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MillingRecovery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MillingRecovery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EatingQuality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EatingQuality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
</dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
